:root {
	--light_gray: #edf0f0;
	--dark: #203141;
	--red: #f30f11;
	--brown: #d58c5a;
	--gray: #817f85;
	--white: white;
	
	--index: calc(1vh + 1vw);
}

a, p, h1, h2, h3, h4, h5, h6, button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html {
	scroll-behavior: smooth;
}